body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  padding-top: 60px;
}
.navbar-brand{
  padding-bottom: 5px;
  padding-top: 5px;
}
.nav-dropdown-toggle{
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  position: relative;
  padding: 10px 15px;
  color: #25a8e1;
  text-decoration: none;
}

.nav-dropdown>.nav-ui-sref:focus,.nav-dropdown>.nav-ui-sref:hover
.nav-dropdown-toggle:focus, .nav-dropdown-toggle:hover, 
.nav-ui-sref.active, .nav-dropdown.active>.nav-ui-sref{
  text-decoration: none;
  background-color: #eee;
}
.navbar-default .navbar-nav>li>.nav-ui-sref.active, .navbar-default .navbar-nav>li>.nav-ui-sref.active{
  background-color: #eee;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #eee;
}
.text-pointer,.text-pointer span{
  cursor: pointer;
}
@media (min-width: 768px){
  .nav-dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.client-card{
  background-color: #F4F5F7;
  border-radius: 0;
  box-shadow: 3px 3px 8px #ddd;
}
.client-icon{
  cursor: pointer;
}
.pagination-condensed{
  margin-top: 0;
  margin-bottom: 0;
}
.pagination-condensed>li>a,.pagination-condensed>li>span{
  padding: 2px 5px;
}
.client-icon:hover{
  color: #25a8e1;
}
/*video page*/
.live{
  position: relative;
}
.img-container{
  visibility: hidden;
}
.img-container img{
  width: 100%;
}
.player-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000 url(../img/play-logo.png) no-repeat center;
}
.play-tip{
  padding: 5px;
  color: #FFF;
}
.form-inline{
  margin-bottom: 10px;
}
