body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  /*padding-top: 70px;*/
}
.navbar-brand{
  padding-bottom: 0;
  padding-top: 0;
}
.thumbnail{
  border: 0 none;
  height: 287px;
}
.jumbotron p{
  font-size: 16px;
}
.navbar a{
  color: #606060;
}
.navbar{
  margin-bottom: 0px;
}
.cpys{
  margin-bottom: 50px;
}
.page-header{
  /*margin-top: 20px;*/
  margin-bottom: 10px;
  padding-bottom: 0;
}
.slogan{
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  height: 450px;
  background: #313749 url(../img/slogan.jpg) 650px center no-repeat;
  margin-bottom: 0;
}
.slogan-context{
  margin-top: 150px;
}
.slogan a,.slogan p{
  color: #9B9FAD;
}
.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.yycj{
  padding-top: 0;
  padding-bottom: 0;
  height: 460px;
  margin-bottom: 0;
}
.yycj .row > div{
  background: #000;
  opacity: 0.8;
  border-radius: 20px;
  color:  #fff;
}
.yycj .row{
  padding-top: 150px;
}
.zhsq{
  color: #f0ad4e;
  /*color: #298c4c;*/
  background: #19191B;
}
.zhsq .row{
  padding-top: 50px;
}
.zhsq .container{
  background: #19191B url(../img/zhsq.jpg) no-repeat right center;
  height: 100%;
}
.zhsq .row > div{
  background: #19191B;
}
.xxny{
  color: #3c763d;
  background: url(../img/xxny.jpg) no-repeat 50% 50%;
}
.xxny .row{
  padding-top: 250px;
}
.hdzb{
  color: #5bc0de;
  background: #000 url(../img/hdzb.jpg) no-repeat 50% 50%;
}
.hdzb .row{
  padding-top: 230px;
}
.ycjy{
  background: #e5ddd3 url(../img/ycjy.jpg) no-repeat right center;
}
.ycjy .row{
  padding-top: 10px;
}
.ycjy .row > div{
  color: #d9534f;
  color: #1A222C;
  background: #e5ddd3;
}
.srdz{
  color: #d9534f;
  background: #000;
}
.srdz .container{
  height: 100%;
  background: url(../img/srdz.jpg) no-repeat left center;
}