body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  /*padding-top: 70px;*/
}
.navbar-brand{
  padding-bottom: 0;
  padding-top: 0;
}
.thumbnail{
  border: 0 none;
}
.jumbotron p{
  font-size: 14px;
}

.slogan{
  padding-top: 50px;
  padding-bottom: 50px;
}
.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.yycj{
  padding-top: 0;
  padding-bottom: 0;
  height: 460px;
  margin-bottom: 0;
}
.zhsq{
  color: #f0ad4e;
  /*color: #298c4c;*/
  background: #000 url(../img/zhsq.png) no-repeat 40% 50%;
}
.zhsq .container{
  padding-top: 150px;
}
.xxny{
  color: #5cb85c;
  background: #999 url(../img/xxny.png) no-repeat 95% 50%;
}
.xxny .container{
  padding-top: 150px;
}
.hdzb{
  color: #5bc0de;
  background: #000 url(../img/hdzb.png) no-repeat 0% 50%;
}
.hdzb .container{
  padding-top: 320px;
}
.ycjy{
  color: #eee;
  background: #804f17 url(../img/ycjy.png) no-repeat 90% 50%;
}
.ycjy .container{
  padding-top: 50px;
}
.srdz{
  margin-bottom: 30px;
  color: #d9534f;
  background: #000 url(../img/srdz.png) no-repeat 20% 50%;
}
.srdz .container{
  padding-top: 150px;
}