
html{
  height: 100%;
  width:100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.live{
  position: relative;
  background: #000;
}
.live img{
  width: 100%;
  visibility: hidden;
}
.live > .video{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.panel-video{
  margin-bottom: 0;
}
.panel-video .panel-body{
  padding: 0;
}
.panel-video-desc .panel-body{
  padding: 2px;
}
.col-video{
  padding-left: 0;
  padding-right: 0;
}
.tabs-video.row{
  margin-left: 0;
  margin-right: 0;
}
.tabs-video.nav-pills>li+li{
  margin-left: 0;
}
.tab-pane-video{
  padding: 5px;
}
.container-video{
  padding-left: 0;
  padding-right: 0;
}
.row-video{
  margin-left: 0;
  margin-right: 0;
}