html, body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    /*padding-top: 70px;*/
    height: 100%;
    background-color: #eee;
}
.weui_cells_os h4.weui_media_title{
  margin-top: 0;
  margin-bottom: 5px;
}
.weui_cells_os p.weui_media_desc{
  margin-bottom: 0;
  color: #888;
}
.weui_cells_os .weui_cell{
  padding: 5px;
}