html, body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  /*padding-top: 70px;*/
  /*height: 100%;*/
  background-color: #eee;
}
.navbar-toggle .icon-bar {
  background-color: #25A8E1;
}
.navbar-brand{
  padding-bottom: 0;
  padding-top: 0;
}
.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

a,
a:hover{
  color: #25A8E1;
}

/*.squera-container{
  width: 992px;
}*/
.thumbnail{
  padding: 0;
  border: 0 none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 7px;
  padding-left: 7px;
}
.thumbnail{
  margin-bottom: 5px;
}
.thumbnail .caption {
  padding: 5px;
}
.loading{
  height: 120px;
  background: url(../img/loading.gif) center no-repeat;
}

/*video page*/
.live{
  position: relative;
}
.topsetimg-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  url(../img/config.png) no-repeat center;
}

.topimg-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  url(../img/play.png) no-repeat center;
}
.opsi_play_container{
  position: relative;
}
.opsi_play{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:  url(../img/play.png) no-repeat center;
}

.topimg-container1{
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background:  url(../img/play.png) no-repeat center;
}
/*.topimg-container img{
;
}*/
.img-container img{
  width: 100%;
}
.player-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000 url(../img/play-logo.png) no-repeat center;
}
.text-name{
  margin-top: 2px;
  margin-bottom: 2px;
}
.text-desc{
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-highlight{
  color: #25A8E1;
}
.play-tip{
  padding: 5px;
  color: #FFF;
}
.btn-invisible{
    visibility: hidden;
}

.weui_cells_os h4.weui_media_title{
  margin-top: 0;
  margin-bottom: 5px;
}
.weui_cells_os p.weui_media_desc{
  margin-bottom: 0;
  color: #888;
}
.weui_cells_os .weui_cell{
  padding: 5px;
}
.weui_cells_os .weui_media_hd{
  margin-right: 10px;
}
.weui_cells_form{
  margin-top: 10px;
}
.weui_cell_input{
  padding-right: 0;
}
.weui_cell_input .weui_input{
  padding-right: 30px;
}
.weui_cell_input .weui_cell_bd:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px
}
.weui_normal_label{
  font-weight: normal;
}
.share_tip{
  width: 219px;
  height: 111px;
  background: url(../img/guide.png) no-repeat;
  background-size: 189px 111px;
  float: right;
}
.show{
  display: block;
}
.hidden-player-container > video{
  visibility: hidden;
  display: none;
}

.showBox{
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;-webkit-box-shadow: #666 0px 0px 6px;
    -moz-box-shadow: #666 0px 0px 6px;
    box-shadow: #666 0px 0px 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px
}
.maginB15{
  margin-bottom: 15px;
}
.maginB0{
  margin-bottom: 0px;
}
.weui_btn+.weui_btn{
  margin-top: 0;
}
button.weui_btn_opsi_nobordered{
  border: 0 none;
}
.weui_check_label_opsi{
  font-weight: normal;
}
.weui_check_label_opsi p{
  margin: 0;
}
.weui_cell.weui_check_label_opsi{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.weui_cell_opsi_desc{
  color: #888;
}
.weui_cell_opsi_disabled,
.weui_cell_opsi_disabled .weui_cell_opsi_desc{
  color: #AAA;
}
.weui_cells_opsi_with_footer{
  margin-bottom: 65px;
}
.weui_cells_opsi_footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #f7f7fa;
  margin-top: 0;
}
.weui_cells_checkbox .weui_icon_checked_opsi:before{
  display: inline-block;
}