<div class="container-fluid container-compact os-tab-container" ng-controller="Project">
<div class="container container-compact" >
<div class="row">
<div class="col-sm-2">
    <ul class="nav nav-list">
        <li class="list-group-item menu-list-branch ng-scope active">
            <a href="">ipc1</a>
        </li>
        <li class="list-group-item menu-list-branch ng-scope active">
            <a href="">ipc1</a>
        </li>
        <li class="list-group-item menu-list-branch ng-scope active">
            <a href="">ipc1</a>
        </li>
    </ul>
</div>
<div class="col-sm-10 ng-scope" id="contentContainer">
<tr>
<td colspan="999">
<tabset>
<tab heading="项目信息" select="config.init(u)">
    </tab>
    <tab heading="device" select="config.init(u)">
    </tab>
    <tab heading="camera" select="config.init(u)">
    </tab>
    <tab heading="直播记录" select="config.init(u)">
    </tab>
    </tabset>
    </td>
    </tr>
    </div>
    </div>
    </div>
    </div>
