<!doctype html>
<html class="no-js" lang="zh-CN" ng-app="wuxianedu">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>无限互联</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../../bower_components/angular-awesome-slider/dist/css/angular-awesome-slider.min.css"> -->
  <link rel="stylesheet" href="css/wuxianedu.css">
</head <body>
<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong>
    browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
  </p>
  <![endif]-->
<!-- Add your site or application content here -->
<header class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="header">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.wuxianedu.com/">
      <img alt="无限互联" src="img/logo.png">
      <span>无限互联泛IT职业教育机构</span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a ui-sref="square" ui-sref-active="active" class="nav-ui-sref" ng-class="{active: $state.is('live') || $state.is('detail')}">直播广场</a></li>
      <li><a ui-sref="config" ui-sref-active="active" class="nav-ui-sref">配置</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            帮助
            <span class="caret"></span>
            &nbsp;&nbsp;
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://public.opensight.cn/doc/OBS%E8%B6%A3%E8%A7%82%E5%B9%B3%E5%8F%B0%E9%85%8D%E7%BD%AE%E6%89%8B%E5%86%8C20161121.pdf" target="_blank">OBS趣观平台配置手册</a></li>
          </ul>
        </li>
      </li>
    </ul>
  </div>

  <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-xs-offset-3 hidden" ng-class="{true: 'hidden', false: 'show'}[message.list.length === 0]">
    <div class="msg col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-condensed table-hover table-bordered table-striped table-vertical-middle" style="margin-bottom: 0;">
            <tbody>
              <tr ng-repeat="it in message.list" ng-class="{true: 'success', false: 'danger'}[it.succ]">
                <td>
                  <i class="fa" ng-class="{true: 'fa-smile-o', false: 'fa-frown-o'}[it.succ]"></i>&nbsp;&nbsp; {{it.text}}
                  <i class="fa fa-remove pull-right" ng-click="message.remove($index)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>
<div ui-view></div>
<script src="//cdn.bootcss.com/angular.js/1.5.5/angular.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
<!-- <script src="//cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.js"></script> -->
<!-- <script src="../../bower_components/angular-awesome-slider/dist/angular-awesome-slider.min.js"></script> -->
<script src="js/app.js"></script>
<script src="js/container.js"></script>
<script src="js/filter.js"></script>
<script src="js/services.js"></script>
<script src="//cdn.bootcss.com/swfobject/2.2/swfobject.min.js"></script>
<!-- <script src="../js/client/directives.js"></script> -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71601701-1', 'auto');
  ga('send', 'pageview');

</script>
-->
</body>

</html>