<div class="container-fluid" ng-controller="bill">
  <div class="row">
    <div class="col-sm-12 page-header page-header-condensed">
      <h3>账户概况</h3>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary client-card">
        <div class="panel-body">
          <div> <strong>余额：</strong>
            <span class="text-primary">{{account.balance|currency:"￥"}} 元</span>
          </div>
          <div> <strong>计费信息：</strong>
            <span class="text-primary">{{account.price_info}}</span>
          </div>
          <div>
            <strong>上次更新时间：</strong>
            <span>{{account.utime|date: "yyyy-MM-dd"}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 page-header page-header-condensed">
      <h3>账户明细</h3>
    </div>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <label>开始时间</label>
      <span class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="start.dt" is-open="start.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />      
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(start)"> <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </span>
    </div>
    <div class="form-group">
      <label>结束时间</label>
      <span class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="end.dt" is-open="end.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />      
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(end)"> <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </span>
    </div>
    <button class="btn btn-default" ng-click="query()">
      <i class="glyphicon glyphicon-search pointer"></i>
    </button>
    <button class="btn btn-default pull-right" ng-click="page.pageChanged()">
      <i class="glyphicon glyphicon-refresh pointer"></i>
    </button>
  </form>
  <table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-sm-1">账单编号</th>
        <th class="col-sm-1 text-center">创建日期</th>
        <th class="col-sm-1 text-center">类型</th>
        <th class="col-sm-1 text-center">收入(元)</th>
        <th class="col-sm-1 text-center">支出(元)</th>
        <th class="col-sm-1 text-center">余额(元)</th>
        <th class="col-sm-1 text-center">详细</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in bills.list">
        <td>{{item.bill_id}}</td>
        <td class="text-center">{{item.start_from|date: "yyyy-MM-dd"}}</td>
        <td class="text-center">{{item.bill_type|bill_type}}</td>
        <td class="text-center">{{item.income|currency:"￥"}}</td>
        <td class="text-center">{{item.expense|currency:"￥"}}</td>
        <td class="text-center">{{item.cur_balance|currency:"￥"}}</td>
        <td class="text-center">
          <button class="btn btn-default btn-sm" ui-sref="project.bill-detail({bill: item.bill_id})" title="详细">
            <i class="glyphicon glyphicon-cog pointer"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container">
    <uib-pagination total-items="page.total" ng-model="page.curr" max-size="page.max" items-per-page="page.limit" previous-text="&laquo;"
    next-text="&raquo;" ng-change="page.pageChanged()" boundary-link-numbers="true" class="pagination-sm">
    </uib-pagination>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="pagination-jump">
      <span>跳转到：</span>
      <input type="text" class="form-control input-sm" ng-model="page.jumpto">
    </label>
    <button class="btn btn-default btn-sm" ng-click="page.jump()">Go</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>
      共&nbsp;{{page.total}}&nbsp;条
    </span>
  </div>

</div>