<div class="container-fluid" ng-controller="camera">
  <table class="table table-condensed table-hover table-bordered table-striped" contenteditable="true">
    <thead>
      <tr>
        <th class="col-sm-2">摄像机名称</th>
        <th class="col-sm-4">uuid</th>
        <th class="col-sm-2">flags</th>
        <th class="col-sm-1">在线状态</th>
        <th class="col-sm-2">描述</th>
        <th class="col-sm-1">删除</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in camera.list">
        <td>{{item.name}}</td>
        <td>{{item.uuid}}</td>
        <td>{{item.flags}}</td>
        <td>{{item.is_online}}</td>
        <td>{{item.desc}}</td>
        <td ng-click="del(item)" style="cursor:pointer;"><i class="fa fa-trash"></i></td>
      </tr>
    </tbody>
  </table>
</div>