<div class="container-fluid" ng-controller="camera">
  <table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th class="col-sm-2">摄像机名称</th>
        <th class="col-sm-1">在线状态</th>
        <th class="col-sm-3">描述</th>
        <th class="col-sm-2">预览</th>
        <th class="col-sm-4">配置</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in camera.list">
        <td>{{item.name}}</td>
        <td>{{item.is_online|online}}</td>
        <td>{{item.desc}}</td>
        <td>
          <div class="btn-group btn-group-xs">
            <button ng-repeat="it in item.ability" class="btn btn-primary" role="group" title={{it.title}} >{{it.text}}</button>
          </div>
        </td>
        <td><i class="glyphicon glyphicon-cog client-icon" ui-sref="project.camera-detail({camera: item.uuid})"></i></td>
      </tr>
    </tbody>
  </table>
</div>