<div class="container-fluid" ng-controller="camera-tab">
  <uib-tabset active="0">
    <i class="fa fa-arrow-left pull-left tab-icon" ui-sref="project.camera"></i>
    <uib-tab index="0" heading="详细信息">
      <form class="form-horizontal" ng-controller="camera-detail" name="camera-detail">
        <div class="col-sm-7">
          <div class="form-group">
            <label class="col-sm-3 control-label">摄像机名称</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.name}}</p>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-3 control-label">id</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.uuid}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">状态</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.is_online|online}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">直播</label>
            <div class="col-sm-9">
              <div class="btn-group btn-group-sm">
                <button class="btn" role="group" ng-class="{true:'btn-primary',false:'btn-default'}[info.live_ability]" title="允许直播" ng-click="enable(true)">允许直播</button>
                <button class="btn" role="group" ng-class="{true:'btn-default',false:'btn-primary'}[info.live_ability]" title="禁止直播" ng-click="enable(false)">禁止直播</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">画面质量</label>
            <div class="col-sm-9">
              <div class="btn-group btn-group-sm">
                <button ng-repeat="it in info.ability" class="btn btn-default" role="group" title={{it.title}}>{{it.title}}</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">摄像头标志位</label>
            <div class="checkbox col-sm-9">
              <!-- <label ng-repeat="it in info.ability">
                <input type="checkbox" checked disabled>{{it.title}}&nbsp;&nbsp;
              </label> -->
              <label>
                <input type="checkbox" ng-model="info.preview_ability" disabled>预览图</label>
              &nbsp;&nbsp;
              <label>
                <input type="checkbox" ng-model="info.ptz_ability" disabled>云台</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">简述</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.desc}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">详细描述</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.long_desc}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">项目名称</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.project_name}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">设备id</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.device_uuid}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">通道索引</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.channel_index}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">位置</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                经度 {{info.longitude}}&nbsp;&nbsp; 纬度 {{info.latitude}}&nbsp;&nbsp; 海拔 {{info.altitude}}&nbsp;&nbsp;
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">创建时间</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.ctime|date: "yyyy-MM-dd HH:mm:ss"}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">更新时间</label>
            <div class="col-sm-9">
              <p class="form-control-static">{{info.utime|date: "yyyy-MM-dd HH:mm:ss"}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <p class="form-control-static">
              <img ng-src="{{info.preview}}" alt="预览图" style="width: 100%;max-width: 360px;">
            </p>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="录像配置">
      <form ng-controller="camera-record-plan">
        <div class="form-group">
          <label>摄像机名称</label>
          <p class="form-control-static">{{caminfo.name}}</p>
        </div>
        <div class="form-group">
          <label>录像质量</label>
          <select class="form-control" ng-model="info.stream_quality" ng-options="it.value as it.title for it in caminfo.ability"></select>
        </div>
        <div class="form-group">
          <label>保存天数</label>
          <input type="text" class="form-control" ng-model="info.record_lifecycle">
        </div>
        <div class="form-group">
          <label>录像计划模板</label>
          <select class="form-control" ng-model="info.schedule_id" ng-options="sch.id as sch.name for sch in schedules.list">
            <option value="">请选择录像计划模板</option>
          </select>
        </div>
        <div class="form-group">
          <label>手动录像</label>
          <p class="form-control-static">{{info.manual_enabled|manual_enabled}}</p>
        </div>
        <div class="form-group" ng-show="info.manual_enabled">
          <label>手动录像结束时间</label>
          <p class="form-control-static">{{info.stop_time}}</p>
        </div>
        <p>
          <button type="submit" class="btn btn-primary" ng-click="save()">保存</button>
          <button type="submit" class="btn btn-default" ui-sref="project.camera">取消</button>
        </p>
      </form>
    </uib-tab>
  </uib-tabset>
</div>
