<div class="container-fluid" ng-controller="schedule-detail">
  <div class="col-sm-12 page-header page-header-condensed">
    <h3>
      <button class="btn btn-default btn-sm" ui-sref="project.schedule"><i class="fa fa-arrow-left"></i></button>&nbsp;&nbsp;
      修改录像计划模版
    </h3>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="info.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">描述</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="info.desc">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">详细描述</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="6" ng-model="info.long_desc"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">类型</label>
      <div class="radio col-sm-10">
        <label>
          <input type="radio" ng-model="type" value="weekday" ng-click="typechange('weekday')">按周</label>
        &nbsp;&nbsp;
        <label>
          <input type="radio" ng-model="type" value="monthday" ng-click="typechange('monthday')">按月</label>
        <i class="glyphicon glyphicon-plus pointer pull-right" ng-click="addItem()"></i>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <table class="table table-condensed table-hover table-bordered table-striped table-vertical-middle">
          <thead>
            <tr>
              <!-- <th class="col-sm-3">启动日期</th> -->
              <th class="col-sm-3">Day</th>
              <th class="col-sm-3">启动时间</th>
              <th class="col-sm-3">停止时间</th>
              <th class="col-sm-2 text-center">预录</th>
              <th class="col-sm-1 text-center">删除</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in info.entries">
              <!-- <td>
                <span class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="item.date" is-open="datepicker[$index]" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datepicker[$index] = true"> <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </span>
              </td> -->
              <td>
                <select class="form-control" ng-model="item.weekday" ng-show="'weekday' === type" ng-options="it.value as it.name for it in weekdays">
                </select>
                <select class="form-control" ng-model="item.monthday" ng-show="'monthday' === type" ng-options="it.value as it.name for it in monthdays">
                </select>
              </td>
              <td>
                <!--<div class="input-group">-->
                  <!--<input type="text" class="form-control" ng-model="item.start">-->
                  <!--<div class="input-group-btn" uib-dropdown auto-close="disabled">-->
                    <!--<button type="button" class="btn btn-default" uib-dropdown-toggle>-->
                      <!--<i class="glyphicon glyphicon-time"></i>-->
                    <!--</button>-->
                    <!--<span class="dropdown-menu dropdown-menu-right timepicker-container" uib-dropdown-menu>-->
                      <!--<uib-timepicker ng-model="timepicker[$index].start" ng-change="timechange($index, 'start')" show-seconds="true" show-meridian="false"></uib-timepicker>-->
                    <!--</span>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="input-group">
                  <input type="number" min = "0" max="24" value="0" style="max-width: 35px" ng-model="timepicker[$index].startHH">
                  ：
                  <input type="number"  min = "0" max="59" value="0" style="max-width: 35px" ng-model="timepicker[$index].startMM">
                  ：
                  <input type="number"  min = "0" max="59" value="0" style="max-width: 35px" ng-model="timepicker[$index].startSS">
                </div>
              </td>
              <td>
                <!--<div class="input-group">-->
                  <!--<input type="text" class="form-control" ng-model="item.end">-->
                  <!--<div class="input-group-btn" uib-dropdown auto-close="disabled">-->
                    <!--<button type="button" class="btn btn-default" uib-dropdown-toggle>-->
                      <!--<i class="glyphicon glyphicon-time"></i>-->
                    <!--</button>-->
                    <!--<span class="dropdown-menu dropdown-menu-right timepicker-container" uib-dropdown-menu>-->
                      <!--<uib-timepicker ng-model="timepicker[$index].end" ng-change="timechange($index, 'end')" show-seconds="true" show-meridian="false"></uib-timepicker>-->
                    <!--</span>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="input-group">
                  <input type="number" min = "0" max="24" value="0" style="max-width: 35px" ng-model="timepicker[$index].endHH">
                  ：
                  <input type="number"  min = "0" max="59" value="0" style="max-width: 35px" ng-model="timepicker[$index].endMM">
                  ：
                  <input type="number"  min = "0" max="59" value="0" style="max-width: 35px" ng-model="timepicker[$index].endSS">
                </div>
              </td>
              <td class="text-center">
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="item.prerecord" ng-value="boolTrue">是</label>
                  &nbsp;&nbsp;
                  <label>
                    <input type="radio" ng-model="item.prerecord" ng-value="boolFalse">否</label>
                </div>
              </td>
              <td class="text-center">
                <button class="btn btn-default btn-sm" ng-click="removeItem(item, $index)" title="删除">
                  <i class="glyphicon glyphicon-trash pointer"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" ng-click="modify()">保存</button>
        <button class="btn btn-default" ui-sref="project.schedule">取消</button>
      </div>
    </div>
  </form>
</div>
