<div class="container-fluid" ng-controller="schedule">
  <form class="form-inline">
    <button class="btn btn-default" ng-click="query()">
      <i class="glyphicon glyphicon-refresh pointer"></i>
    </button>
    <button class="btn btn-default pull-right" ui-sref="project.add-schedule">
      <i class="glyphicon glyphicon-plus pointer"></i>
    </button>
  </form>
  <table class="table table-condensed table-hover table-bordered table-striped table-vertical-middle">
    <thead>
      <tr>
        <th class="col-sm-2">计划名称</th>
        <th class="col-sm-2">描述</th>
        <th class="col-sm-7">详细描述</th>
        <th class="col-sm-1 text-center">详细</th>
        <th class="col-sm-1 text-center">删除</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in schedules.list">
        <td>{{item.name}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.long_desc}}</td>
        <td class="text-center">
          <button class="btn btn-default btn-sm" ui-sref="project.schedule-detail({schedule: item.id})" ng-disabled="null === item.project_name" title="详细">
            <i class="glyphicon glyphicon-cog" ng-class="{false: 'pointer'}[null === item.project_name]"></i>
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-default btn-sm" ng-click="remove(item, $index)" ng-disabled="null === item.project_name" title="删除">
            <i class="glyphicon glyphicon-trash" ng-class="{false: 'pointer'}[null === item.project_name]"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>