<div class="container-fluid" ng-controller="session-status">
  <form class="form-inline">
    <!-- <button class="btn btn-default" ng-click="query()">
      <i class="glyphicon glyphicon-search pointer"></i>
    </button> -->
    <button class="btn btn-default" ng-click="page.pageChanged()()">
      <i class="glyphicon glyphicon-refresh pointer"></i>
    </button>
  </form>
  <table class="table table-condensed table-hover table-bordered table-striped table-vertical-middle">
    <thead>
      <tr>
        <th class="col-sm-2">摄像机</th>
        <th class="col-sm-2">用户</th>
        <th class="col-sm-2">子用户</th>
        <th class="col-sm-1 text-center">协议</th>
        <th class="col-sm-1 text-center">画质</th>
        <th class="col-sm-2 text-center">开始时间</th>
        <th class="col-sm-2 text-center">ip</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in sessions.list">
        <td>{{item.camera_name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.subuser}}</td>
        <td class="text-center">{{item.stream_format}}</td>
        <td class="text-center">{{item.stream_quality|stream_quality}}</td>
        <td class="text-center">{{item.start}}</td>
        <td class="text-center">{{item.ip}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-container">
    <uib-pagination 
      total-items="page.total" 
      ng-model="page.curr" 
      max-size="page.max" 
      items-per-page="page.limit" 
      previous-text="&laquo;" next-text="&raquo;" 
      ng-change="page.pageChanged()" 
      boundary-link-numbers="true" class="pagination-sm">
    </uib-pagination>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="pagination-jump">
      <span>跳转到：</span>
      <input type="text" class="form-control input-sm" ng-model="page.jumpto">
    </label>
    <button class="btn btn-default btn-sm" ng-click="page.jump()">Go</button>
  </div>
</div>