<div ng-controller="Backup">
  <div style="padding-left: 0px;padding-right: 0px;">
    <div class="col-sm-12 os-table-container" style="padding-left: 0px;padding-right: 0px;">
      <div class="weui_cells_title">
        <button class="weui_btn weui_btn_plain_default weui_btn_mini weui_btn_opsi_nobordered" ng-click="backup.backProject();">
          <i class="fa fa-chevron-left"></i> 返回
        </button>
        <button class="weui_btn weui_btn_plain_default weui_btn_mini weui_btn_opsi_nobordered pull-right" ng-hide="backup.bDel || 0 === filelist.list.length" ng-click="backup.bDel = true">
          <i class="fa fa-trash"></i> 删除
        </button>
        <button class="weui_btn weui_btn_mini weui_btn_primary pull-right" ng-show="backup.bDel" ng-click="backup.bDel = false">
          完成
        </button>
      </div>
      <div class="weui_cells weui_cells_checkbox" ng-class="{true: 'weui_cells_opsi_with_footer', false: ''}[backup.bDel]">
        <label class="weui_cell weui_check_label weui_check_label_opsi" ng-repeat="item in filelist.list" ng-click="backup.play(item, backup.bDel);"
          ng-class="{0: 'weui_cell_opsi_disabled'}[item.state]">
          <div class="weui_cell_hd" ng-show="backup.bDel">
            <input type="checkbox" class="weui_check" ng-disabled="!backup.bDel" ng-model="item.checked" ng-click="backup.checkeItem(item)">
            <i class="weui_icon_checked"></i>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p>
              <span>{{item.desc}}</span>
              <span class="pull-right weui_cell_opsi_desc" ng-hide="0 === item.state">{{item.size|record_size}}</span>
            </p>
            <p class="weui_cell_opsi_desc">
              <span>{{item.start|date: "MM-dd HH:mm"}}</span>
              <span class="pull-right" ng-hide="0 === item.state">{{item.end - item.start|duration}}</span>
              <span class="pull-right" ng-show="0 === item.state">备份中</span>
            </p>
          </div>
        </label>
      </div>
      <div style="min-height: 420px" ng-show="0 === filelist.list.length">
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title" style="text-align: center">～～空～～</h4>
          </div>
        </div>
      </div>
      <div class="weui_cells weui_cells_checkbox weui_cells_opsi_footer" ng-show="backup.bDel">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <label class="weui_check_label weui_check_label_opsi">
              <input type="checkbox" class="weui_check" ng-click="backup.checkeAll(filelist.list)" ng-model="backup.all_checked">
              <i class="weui_icon_checked weui_icon_checked_opsi"></i>
              <span class="weui_checkbox_opsi_text">全选</span>
            </label>
            <button class="weui_btn weui_btn_warn weui_btn_mini pull-right" ng-click="backup.del()">
              <i class="fa fa-trash"></i> 删除
            </button>
          </div>
        </div>
      </div>
      <div class="weui_dialog_confirm" ng-show="backup.confirm_shown">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
          <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
          <div class="weui_dialog_bd">已选择{{backup.checked_num}}段录像，确认要删除吗？</div>
          <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default" ng-click="backup.confirm_shown = false">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary" ng-click="backup.delItems()">确定</a>
          </div>
        </div>
      </div>
      <div class="weui_dialog_alert" ng-show="backup.alert_shown">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
          <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
          <div class="weui_dialog_bd">请选择需要删除的录像</div>
          <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary" ng-click="backup.alert_shown = false">确定</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>