<div ng-controller="CameraList">
    <div class="row row-in-tab os-row-no-padding">
<!--list-->
        <div class="col-sm-12 os-table-container" ng-show="cameraListShown">
            <div class="weui_cell" style="padding-left: 0px;">
               <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回我的项目" ng-click="cameralist.backProject();">
                <i  class="fa fa-chevron-left "></i>
                   返回我的项目
                </span>
            </div>
            <!--div class="weui_cells_title">{{PName}} 摄像头列表</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell" ng-repeat="u in cameralist.data">
                    <div class="weui_cell_hd"><label class="weui_label" style="width: 12em">{{u.name}}</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="form-control-static">{{u.is_online|online}}</p>
                    </div>
                </div>
            </div-->
            <div class="container squera-container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="item in cameralist.data">

                        <div class="thumbnail">
                            <div class="caption">
                                <p class="text-name">
                                    <a ng-click="cameralist.showMore(item)">{{item.name}}</a>
                                    <span class="pull-right" ng-class ="{'text-highlight': item.is_online!==0, 'text-danger': item.is_online===0}" >{{item.is_online|online}}</span>
                                </p>
                                <p class="text-desc" style="color: #ABAAAA">{{item.desc}}</p>
                            </div>
                            <a ng-click="cameralist.showMore(item)"><img src="{{item.preview}}" alt="{{item.name}}"></a>
                            <div class="weui_dialog_ft" style="line-height:1em;font-size:1em;height: 44px;text-align: center;margin-top: 0px;margin-bottom: 15px;">
                                <a ng-click="cameralist.showRec(item)" class="weui_btn_dialog" style="color: #25A8E1">
                                    <div style="display: block-inline;height:40px;margin:2px;border-right:solid 1px #ABAAAA;">
                                        <img src="./img/replay24.png" alt="" />
                                        <!--<i class="fa fa-film" style="font-size: 22px;color: #000000" aria-hidden="true"></i>-->
                                        <p class="text-name" style="display: block">回放</p>
                                    </div>
                                </a>
                                <a ng-click="cameralist.showMore(item)" class="weui_btn_dialog" style="color: #25A8E1">
                                    <div style="display: block-inline;height:40px;margin:2px;">
                                        <img src="./img/live24.png" alt="" />
                                        <!--<i class="fa fa-play-circle-o" style="font-size: 24px;color: #000000" aria-hidden="true"></i>-->
                                        <p class="text-name" style="display: block">实时</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--end list-->
<!--live play        -->
        <div class="col-sm-12 os-table-container" ng-show="oneCameraShown">
            <div class="weui_cell" style="padding-left: 0px;">
               <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回摄像头列表" ng-click="cameraListShown=true;Player.destroy();oneCameraShown=false;">
                <i  class="fa fa-chevron-left "></i>
                   返回摄像头列表
                </span>
            </div>
            <div class="weui_cells_title">摄像头信息</div>
            <div class="weui_cells weui_cells_form">
                <div class="container squera-container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="thumbnail" id="videoPlayerWrapper">
                                <div class="live">
                                    <div class="img-container"><a ng-click="cameralist.showPlayer(c)"><img id="img" ng-src="{{c.img}}" alt="" /></a></div>
                                    <div class="player-container" ng-show="c.tip">
                                        <div id="videoPlayer">
                                            <p class="play-tip pull-right" >
                                                <span class="text-highlight" id="playTipSec">10</span>
                                                秒之后直播开始
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <p class="text-name">
                                        <a ng-click="cameralist.showMore(item)">{{c.name}}</a>
                                        <span class="pull-right" ng-class ="{'text-highlight': c.is_online!==0, 'text-danger': c.is_online===0}" >{{c.is_online|online}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">清晰度</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="btn-group btn-group-xs">
                            <button ng-repeat="it in c.stearmOptions" class="btn" role="group"  ng-class="{2:'btn-primary',1:'btn-default',0:'btn-invisible'}[it.on]" ng-click="cameralist.checkBtn(it);" role="group" title={{it.title}}>{{it.text}}</button>
                        </div>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">描述</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" value="" placeholder="" ng-model="c.desc" required/>
                    </div>
                </div>
            </div>
        </div>
<!--end live-->

<!--record-->
        <div class="col-sm-12 os-table-container" ng-show="recListShown">
            <div class="weui_cell" style="padding-left: 0px;">
               <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回摄像头列表" ng-click="recListShown=false;cameraListShown=true;">
                <i  class="fa fa-chevron-left "></i>
                   返回摄像头列表
                </span>
            </div>
            <!--<div class="weui_cells_title">视频回放</div>-->

            <!--<div class="weui_cell" style="min-height:290px;padding: 0px;">-->
                <!--<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options" style="padding: 0px;margin:auto;" ng-click="recordlist.timechange();"></div>-->
            <!--</div>-->
            <div class="weui_cells weui_cells_access" style="margin-top: 0px">
                <div href="javascript:;" class="weui_cell" style="font-size: 17px;outline: 0;">
                    <div class="weui_cell_hd">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <!--<label for="" class="weui_label" style="margin-bottom: 0px;">日期</label>-->
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p style="margin-bottom: 0px">日期</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input style="font-size: 14px; display:inline-flex;border: 0px;outline: 0;" type="date" value="" ng-model="dt" ng-change="recordlist.timechange();"/>
                    </div>
                </div>
                <a class="weui_cell" href="javascript:;" ng-repeat="item in reclist.segments" ng-click="recordlist.play(item);">
                    <div class="weui_cell_hd">
                        <span class="btn-small" style="font-size: 18px;cursor:pointer;float:left;padding-left:5px;width:20px;margin-right:5px;display:block" title="more">
                            <i  class="fa fa-file-video-o"></i>
                        </span>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p style="margin-bottom: 0px;">{{item.start|date: "HH:mm"}} - {{item.end|date: "HH:mm"}}</p>
                    </div>
                    <div class="weui_cell_ft">
                        {{item.duration|duration: true}}
                    </div>
                </a>
            </div>
            <!--<div class="weui_cells weui_cells_access" style="margin-top: 0px" ng-repeat="item in reclist.segments">                -->
                <!--<a class="weui_cell" href="javascript:;" ng-click="recordlist.play(item);">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<span class="btn-small" style="cursor:pointer;float:left;padding-top:5px;padding-bottom:5px;padding-left:5px;width:20px;margin-right:5px;display:block" title="more">-->
                            <!--<i  class="fa fa-file-video-o"></i>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p style="margin-bottom: 0px;">{{item.start|date: "HH:mm:ss"}} - {{item.end|date: "HH:mm:ss"}}    （{{item.duration|duration: true}}）</p>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_ft"></div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div id="actionSheet_wrap">-->
                <!--<div class="weui_mask_transition" id="mask"></div>-->
                <!--<div class="weui_actionsheet" id="weui_actionsheet">-->
                    <!--<div class="weui_actionsheet_menu">-->
                        <!--<div class="weui_actionsheet_cell" ng-repeat="one in morelist.segments">-->
                            <!--<p ng-click="recordlist.play(one);">-->
                                <!--{{one.start|date: "HH:mm:ss"}} - {{one.end|date: "HH:mm:ss"}}-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
<!--end record-->

<!--one record play-->
        <div class="col-sm-12 os-table-container" ng-show="oneRecShown">
            <div class="weui_cell" style="padding-left: 0px;">
               <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回录像列表" ng-click="recordlist.backList();">
                <i  class="fa fa-chevron-left "></i>
                   返回录像列表
                </span>
            </div>
            <div class="weui_cells_title">片段信息</div>
            <div class="weui_cells weui_cells_form">
                <div class="container squera-container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="thumbnail" id="recPlayerWrapper">
                                <div class="live">
                                    <div class="img-container">
                                        <img id="recimg" src="../img/video4x4.jpg" alt="">
                                    </div>
                                    <div class="player-container">
                                        <!--<div id="replayPlayer"></div>-->
                                        <video id="replayPlayer" class="video" controls autoplay="autoplay" webkit-playsinline="" width="100%" height="100%" src="movie.ogg" type = "application/x-mpegURL">

                                        </video>
                                    </div>
                                    <!--<div class="img-container"><a ng-click="cameralist.showPlayer(c)"><img id="img" ng-src="{{recInfo.preview_image}}" alt="" /></a></div>-->
                                    <!--<div class="player-container" ng-show="c.tip">-->
                                        <!--<div id="videoPlayer">-->
                                            <!--<p class="play-tip pull-right" >-->
                                                <!--<span class="text-highlight" id="playTipSec">10</span>-->
                                                <!--秒之后开始播放-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd" style="margin-bottom: 0px;"><label for="" class="weui_label" style="width:4em">开始时间</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="form-control-static">{{recInfo.start|date: "yyyy-MM-dd HH:mm:ss"}}</p>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd" style="margin-bottom: 0px;"><label for="" class="weui_label" style="width:4em">结束时间</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="form-control-static">{{recInfo.end|date: "yyyy-MM-dd HH:mm:ss"}}</p>
                    </div>
                </div>
            </div>
        </div>
<!--one record play end-->
    </div>
</div>