<div class="swiper-container form-group" style="height: 100%;" id="projectTab" ng-controller="CameraSwiper">
  <div class="swiper-wrapper" style="margin-bottom: 35px;" ng-show="cameralist.swiperShow">
    <div class="swiper-slide" ng-repeat="u in projectlist.data">
      <div class="col-sm-12 os-table-container" style="padding-left: 0px;padding-right: 0px;">
        <div class="weui_cell_hd" style="padding-left: 0px;">
          <span class="btn-small" style="cursor:pointer;float:left;padding:10px;font-size:16px;text-align: center; width: 100%;">
              {{u.title}}
            </span>
        </div>
      </div>

      <div style="padding-left: 0px;padding-right: 0px;">
        <div style="padding-left: 0px;padding-right: 0px;">
          <div class="col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;padding-right: 0px;" ng-repeat="item in cameralist.data">

            <div class="thumbnail">
              <div class="caption">
                <p class="text-name">
                  <a ng-click="cameralist.showMore(item)">{{item.name}}</a>
                  <span class="pull-right" ng-class="{'text-highlight': item.is_online!==0, 'text-danger': item.is_online===0}">{{item.is_online|online}}</span>
                </p>
                <p class="text-desc" style="color: #ABAAAA">{{item.desc}}</p>
              </div>
              <div ng-click="cameralist.showMore(item)" class="opsi_play_container" ng-show="preShow">
                <img style="width:100%;min-height: 120px;" ng-src="{{item.preview}}" alt="{{item.name}}">
                <div class="opsi_play"></div>
              </div>
              <!--<div class="topimg-container" ng-click="cameralist.showMore(item)" ng-show="preShow"></div>-->
              <div class="weui_dialog_ft" style="line-height:1em;font-size:1em;height: 44px;text-align: center;margin-top: 0px;" ng-class="editMargin[item.uuid]">
                <a ng-click="cameralist.showMore(item)" class="weui_btn_dialog" style="color: #25A8E1;border-right:solid 1px #ABAAAA;">
                  <div style="display: block-inline;height:40px;margin:2px;">
                    <img src="./img/live24.png" alt="" />
                    <p class="text-name" style="display: block">实时</p>
                  </div>
                </a>
                <a ng-click="cameralist.showRec(item)" class="weui_btn_dialog" style="color: #25A8E1;">
                  <div style="display: block-inline;height:40px;margin:2px;border-right:solid 1px #ABAAAA;">
                    <img src="./img/replay24.png" alt="" />
                    <p class="text-name" style="display: block">回放</p>
                  </div>
                </a>
                <a ng-click="cameralist.showEdit(item)" class="weui_btn_dialog" style="color: #25A8E1;">
                  <div style="display: block-inline;height:40px;margin:2px;border-right:solid 1px #ABAAAA;">
                    <img src="./img/more.png" alt="" />
                    <p class="text-name" style="display: block">更多</p>
                  </div>
                </a>
              </div>
              <div class="weui_dialog_ft" style="line-height:1em;font-size:1em;height: 44px;text-align: center;margin-top: 0px;margin-bottom: 15px;"
                ng-show="editView[item.uuid]">
                <a ng-click="cameralist.editConfigShow(item)" class="weui_btn_dialog" style="color: #25A8E1;">
                  <div style="display: block-inline;height:40px;margin:2px;">
                    <img src="./img/config_24px.png" alt="" />
                    <p class="text-name" style="display: block">编辑</p>
                  </div>
                </a>
                <a ng-click="cameralist.editConfigShow(item)" class="weui_btn_dialog" style="color: #25A8E1;">
                  <div style="display: block-inline;height:40px;margin:2px;" style="color: #25A8E1;">
                    <img src="./img/alarm.png" alt="" />
                    <p class="text-name" style="display: block">报警</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination" ng-show="cameralist.swiperShow"></div>

  <form style="padding-right: 0px;padding-left: 0px;" ng-show="cameralist.editConfig" name="cameraEditForm">
    <!--<div class="weui_cells_title" style="text-align:right;margin-top: 0px;margin-bottom: 0px;padding-right: 0px;padding-top: 10px;padding-bottom: 10px;">
      <span class="btn-small">取消</span>
      <span class="btn-small" style="padding: 10px;cursor:pointer;color: #333;font-size:16px;" title="完成编辑" ng-click="cameralist.editSubmit();">
          完成编辑
          </span>
    </div>-->
    <div class="weui_cells_title">
      <span class="btn-small" ng-click="cameralist.cancelSubmit();">取消</span>
      <span class="btn-small pull-right" ng-click="cameralist.editSubmit();" ng-class="{true:'text-highlight', false: ''}[cameraEditForm.$dirty]">完成编辑</span>
    </div>
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">名称</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" value="" placeholder="" ng-model="cameralist.editConf.name" required/>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">描述</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" value="" placeholder="" ng-model="cameralist.editConf.desc" />
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">录像状态</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <p class="form-control-static">{{cameralist.editConf.record_state|record_state}}</p>
        </div>
      </div>
    </div>


    <div class="weui_cells weui_cells_form">
      <div class="weui_cell weui_cell_switch">
        <div class="weui_cell_hd weui_cell_primary">允许直播</div>
        <div class="weui_cell_ft">
          <input class="weui_switch" ng-model="cameralist.editConf.livePerm" type="checkbox">
        </div>
      </div>
    </div>

  </form>
  <!--edit end-->
</div>