<div class="swiper-container form-group" style="height: 100%;" id="projectTab" ng-controller="LiveShowSwiper">

  <div class="swiper-wrapper" style="margin-bottom: 35px;">
    <div class="swiper-slide" ng-repeat="u in projectlist.data">
      <div class="weui_tab">
        <div class="weui_tab_bd" style="padding-bottom: 0px;">
          <!--<div class="weui_cells_title">当前项目</div>-->
          <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
              <div class="weui_cell_hd">
                <label for="" class="weui_label" style="width:5em">项目名称</label>
              </div>
              <div class="weui_cell_bd weui_cell_primary">
                <p class="form-control-static">{{u.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="weui_panel weui_panel_access showBox" ng-repeat="item in liveshowlist.data">
        <div ng-class="item.clickChange" ng-click="liveshowlist.showMore(item)">
          <div class="weui_media_box weui_media_text" style="padding: 5px">
            <div class="caption" style="border-bottom: 1px solid #E2E4E6;">
              <p class="text-name">
                <a ng-click="liveshowlist.showMore(item)">{{item.name|show_name}}</a>
                <span class="pull-right" ng-class="{'text-highlight': item.state===1, 'text-danger': item.state!==1}">{{item.state|show_state}}</span>
              </p>
              <p class="weui_media_desc" style="color: #ABAAAA">{{item.desc}}</p>
            </div>
            <div class="caption">
              <p class="text-name">
                活动时间 ：
                <span>{{(item.start===0)?"":(item.start|date: "yyyy-MM-dd HH:mm:ss")}} - {{(item.end===0)?"":(item.end|date: "HH:mm:ss")}}</span>
              </p>
              <p class="weui_media_desc" style="color: #ABAAAA">{{(item.flags === 1)?'录像：启动':'录像：禁止'}}</p>
            </div>

          </div>
        </div>
      </div>

      <div style="min-height: 420px" ng-show="liveshowlist.data===undefined || liveshowlist.data[0] === undefined">
        <div class="weui_panel_bd">
          <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title" style="text-align: center">～～空～～</h4>

            <!--<p class="weui_media_desc">{{item.desc}}</p>-->
          </div>
        </div>
      </div>

      <!--<div style="padding-left: 0px;padding-right: 0px;">-->
      <!--<div style="padding-left: 0px;padding-right: 0px;">-->
      <!--<div class="col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;padding-right: 0px;" ng-repeat="item in liveshowlist.data">-->

      <!--<div class="thumbnail">-->
      <!--<div class="caption">-->
      <!--<p class="text-name">-->
      <!--<a ng-click="liveshowlist.showMore(item)">{{item.name}}</a>-->
      <!--<span class="pull-right" ng-class ="{'text-highlight': item.is_online!==0, 'text-danger': item.is_online===0}" >{{item.is_online|online}}</span>-->
      <!--</p>-->
      <!--<p class="text-desc" style="color: #ABAAAA">{{item.desc}}</p>-->
      <!--</div>-->
      <!--<a ng-click="liveshowlist.showMore(item)" ng-show="preShow"><img src="{{item.preview}}" alt="{{item.name}}"></a>-->
      <!--<div class="topimg-container" ng-click="liveshowlist.showMore(item)" ng-show="preShow"></div>-->
      <!--<div class="weui_dialog_ft" style="line-height:1em;font-size:1em;height: 44px;text-align: center;margin-top: 0px;margin-bottom: 15px;">-->
      <!--<a ng-click="liveshowlist.showRec(item)" class="weui_btn_dialog" style="color: #25A8E1;">-->
      <!--<div style="display: block-inline;height:40px;margin:2px;border-right:solid 1px #ABAAAA;">-->
      <!--<img src="./img/replay24.png" alt="" />-->
      <!--&lt;!&ndash;<i class="fa fa-film" style="font-size: 22px;color: #000000" aria-hidden="true"></i>&ndash;&gt;-->
      <!--<p class="text-name" style="display: block">回放</p>-->
      <!--</div>-->
      <!--</a>-->
      <!--<a ng-click="liveshowlist.showMore(item)" class="weui_btn_dialog" style="color: #25A8E1">-->
      <!--<div style="display: block-inline;height:40px;margin:2px;">-->
      <!--<img src="./img/live24.png" alt="" />-->
      <!--&lt;!&ndash;<i class="fa fa-play-circle-o" style="font-size: 24px;color: #000000" aria-hidden="true"></i>&ndash;&gt;-->
      <!--<p class="text-name" style="display: block">实时</p>-->
      <!--</div>-->
      <!--</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

    </div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>

  <!-- 如果需要导航按钮 >
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div-->

  <!-- 如果需要滚动条 >
            <div class="swiper-scrollbar"></div-->
</div>
