<div ng-controller="PRec">
  <div style="padding-left: 0px;padding-right: 0px;">
    <div class="col-sm-12 os-table-container" style="padding-left: 0px;padding-right: 0px;">
      <!--<div class="weui_cell" style="padding-left: 0px;">
        <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回摄像头列表" ng-click="prec.backToCameraList();">
          <i class="fa fa-chevron-left "></i> 返回摄像头列表
        </span>
      </div>
      <label class="weui_cell weui_normal_label">
        <div class="weui_cell_bd weui_cell_primary">
          <span class="btn-small" style="cursor:pointer;" ng-click="prec.backToCameraList()">
            <i class="fa fa-chevron-left "></i> 返回
          </span>
        </div>
      </label>-->
      <div class="weui_cells_title">
        <span class="btn-small" style="cursor:pointer;" ng-click="prec.backToCameraList()">
          <i class="fa fa-chevron-left "></i> 返回摄像头列表
        </span>
      </div>
      <div class="weui_cells weui_cells_access">
        <div class="weui_cell" style="font-size: 17px;outline: 0;">
          <div class="weui_cell_hd">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p style="margin-bottom: 0px">日期</p>
          </div>
          <div class="weui_cell_ft">
            <input style="font-size: 14px; display:inline-flex;border: 0px;outline: 0;" type="date" value="" ng-model="dt" ng-change="prec.timechange();"/>
          </div>
        </div>
      </div>
      <div class="weui_cells weui_cells_access weui_cells_compact" ng-repeat="item in segments">
        <div class="weui_cell" ng-click="prec.open(item);">
          <div class="weui_cell_bd weui_cell_primary">
            <i class="fa fa-film text-highlight" ng-show="1 === item.segments.length"></i>
            <i class="fa text-warn" ng-hide="1 === item.segments.length" ng-class="{true: 'fa-folder-open', false: 'fa-folder'}[item.opened]"></i>
            &nbsp;
            {{item.start|date: "HH:mm"}} - {{item.end|date: "HH:mm"}}
          </div>
          <div class="weui_cell_ft" ng-show="1 === item.segments.length">
            {{item.duration|duration}}&nbsp;&nbsp;
          </div>
          <div class="weui_cell_ft" ng-hide="1 === item.segments.length" ng-class="{true: 'weui_cell_ft_up', false: 'weui_cell_ft_down'}[item.opened]">
            {{item.duration|duration}}&nbsp;&nbsp;
          </div>
        </div>
        <div class="weui_cell" ng-click="prec.play(item);" ng-repeat="it in item.segments" ng-hide="(1 === item.segments.length) || (!item.opened)">
          <div class="weui_cell_bd weui_cell_primary">
            <i class="fa fa-film text-highlight"></i>
            &nbsp;
            {{it.start|date: "HH:mm"}} - {{it.end|date: "HH:mm"}}
          </div>
          <div class="weui_cell_ft">
            {{it.duration|duration}}&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>