<div class="container-fluid container-compact os-tab-container" ng-controller="ProjectList">
    <div class="row row-in-tab os-row-no-padding">
        <div class="col-sm-12 os-table-container">
            <div class="swiper-container form-group">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="u in projectlist.data">
                        <div class="weui_cells_title">我的项目</div>
                        <div class="weui_cells weui_cells_form">
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">项目名称</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p class="form-control-static">{{u.name}}</p>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">项目标题</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" value="" placeholder="" ng-model="u.title" required/>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">描述</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" value="" placeholder="" ng-model="u.desc" required/>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">详细描述</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <textarea class="weui_textarea" placeholder="请输入描述" ng-model="u.long_desc" rows="3"></textarea>
                                    <!--div class="weui_textarea_counter"><span>0</span>/200</div-->
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">流并发数</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" value="" placeholder="" ng-model="u.max_media_sessions" required/>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">流服务器</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <input class="weui_input" value="" placeholder="" ng-model="u.media_server" required/>
                                </div>
                            </div>
                            <div class="weui_cell weui_cell_switch">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">是否公开</label></div>
                                <div class="weui_cell_ft">
                                    <input class="weui_switch" ng-model="u.is_public" type="checkbox"/>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">生成时间</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p class="form-control-static">{{u.ctime}}</p>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">更新时间</label></div>
                                <div class="weui_cell_bd weui_cell_primary">
                                    <p class="form-control-static">{{u.utime}}</p>
                                </div>
                            </div>
                            <div class="weui_btn_area">
                                <a class="weui_btn weui_btn_primary" ng-click="projectlist.goIpc(u)">查看摄像头</a>
                            </div>
                            <div class="weui_btn_area">
                                <a class="weui_btn weui_btn_primary" ng-click="projectlist.goBill(u)">查看账单</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 如果需要分页器 >
                <div class="swiper-pagination"></div-->

                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- 如果需要滚动条 >
                <div class="swiper-scrollbar"></div-->
            </div>
        </div>
    </div>
</div>