body{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.live-card{
  margin: 0;
}
.live-card img{
  width: 100%;
}
.video-backgroud{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 no-repeat center;
}
.backgroud-size{
  background-size: 100% 100%;
}
.backgroud-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}
.video-container{
  width: 100%;
  height: 100%;
}

/*@media screen and (orientation:portrait) {
  .content{
    width: auto;
    height: auto;
    position: absolute;
  }
  .live-card{
    position: relative;
  }
  .live-card .card-content{
    position: relative;
  }

  .video-backgroud{
    position: absolute;
  }
  .buttons-tab{
    visibility: visible;
  }
  .tabs{
    visibility: visible;
  }
}*/
@media screen and (orientation:landscape) {
  .content{
    width: 100%;
    height: 100%;
  }
  .content,
  .live-card,
  .live-card .card-content{
    position: static;
  }

  .video-backgroud{
    position: fixed;
  }
  .background-size{
    background-size: 1px 1px;
  }
  .buttons-tab{
    visibility: hidden;
  }
  .tabs{
    visibility: hidden;
  }
}
.play-tip{
  padding: 10px;
  color: #fff;
  text-align: right;
}
.text-highlight{
  color: #25A8E1;
}
.live-card .card-footer{
  background: #333;
}
.live-card .card-footer a{
  color: #25A8E1;
}
.icon-caret-270{
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  transform: rotate(270deg);
}
.hidden{
  display: none;
}
.visibility-hidden{
  visibility: hidden;
}
.card-footer a.link.hidden, .card-header a.link.hidden{
  display: none;
}
.share-tip{
  width: 156px;
  height: 74px;
  background: url(../img/guide.png) no-repeat;
  background-size: 126px 74px;
  float: right;
}
.state{
  padding-left: 10px;
}
.state-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: rgba(0,0,0,.5);
  display: none;
  visibility: hidden;
}
.state-container .state{
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -12px;
  text-align: center;
  color: #fff;
  font-size: .8rem;
}
.state-container-show{
  visibility: visible;
  display: block;
}
.power-by{
  font-weight: normal;
}
.record-list{
  margin-top: 10px;
}
.record-list .item-text{
  height: auto;
}
.record-list .record.disabled{
  background-color: #f7f9fe;
  color: #c8c9cb;
}
.record-list .record.disabled .item-text{
  color: #c8c9cb;
}
/*#SOHUCS #cy-cbox-wrapper{
  display: none;
}*/
#SOHUCS .reset-g.section-floatbar-wap{
  display: none;
}
#SOHUCS .cy-newlogin-body{
  display: none;
}
#SOHUCS .cy-newlogin-wap .cy-newlogin-wrapper .cy-newlogin-footer.login-wrap-wap{
  border-top: 0 none;
}
#SOHUCS .cy-newlogin-wap .cy-newlogin-wrapper .cy-newlogin-footer.login-wrap-wap h4{
  display: none;
}
