<!doctype html>
<html lang="zh-CN">
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../bower_components/js-base64/base64.min.js"></script>


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>项目信息</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.min.css">

    <link rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.css">
    <link rel="stylesheet" href="./css/project.css">
</head>
<body>

<div class="weui_tab" id="projectTab">
    <div class="weui_tab_bd">
        <div class="swiper-container form-group" style="height: 100%;">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="u in projectlist.data">
                    <div class="weui_cells_title">我的项目</div>
                    <div class="weui_cells weui_cells_form">
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">项目名称</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p class="form-control-static">{{u.name}}</p>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">项目标题</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" value="" placeholder="" ng-model="u.title" required/>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">描述</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" value="" placeholder="" ng-model="u.desc" required/>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">详细描述</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <textarea class="weui_textarea" placeholder="请输入描述" ng-model="u.long_desc" rows="3"></textarea>
                                <!--div class="weui_textarea_counter"><span>0</span>/200</div-->
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">流并发数</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" value="" placeholder="" ng-model="u.max_media_sessions" required/>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:4em">流服务器</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <input class="weui_input" value="" placeholder="" ng-model="u.media_server" required/>
                            </div>
                        </div>
                        <div class="weui_cell weui_cell_switch">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">是否公开</label></div>
                            <div class="weui_cell_ft">
                                <input class="weui_switch" ng-model="u.is_public" type="checkbox"/>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">生成时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p class="form-control-static">{{u.ctime}}</p>
                            </div>
                        </div>
                        <div class="weui_cell">
                            <div class="weui_cell_hd"><label for="" class="weui_label" style="width:5em">更新时间</label></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p class="form-control-static">{{u.utime}}</p>
                            </div>
                        </div>
                        <!--div class="weui_btn_area">
                            <a class="weui_btn weui_btn_primary" ng-click="projectlist.goIpc(u)">查看摄像头</a>
                        </div>
                        <div class="weui_btn_area">
                            <a class="weui_btn weui_btn_primary" ng-click="projectlist.goBill(u)">查看账单</a>
                        </div-->
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 >
            <div class="swiper-pagination"></div-->

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- 如果需要滚动条 >
            <div class="swiper-scrollbar"></div-->
        </div>


    </div>


    <div class="weui_tabbar">
        <a href="javascript:;" ng-click="projectlist.goBill()" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">账单</p>
        </a>
        <a href="javascript:;" ng-click="projectlist.goIpc()" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="./images/icon_nav_article.png" alt="">
            </div>
            <p class="weui_tabbar_label">摄像头</p>
        </a>
    </div>
</div>


<div class = "container" ui-view>

</div>


<!--div class="container-fluid container-compact os-tab-container" >
    <div class="row row-in-tab os-row-no-padding">
        <div class="col-sm-12 os-table-container"  ui-view>

            <div class="weui_cells_title">{{Acc}} 详细信息</div>
            <div class="weui_cells">
                <div class="weui_cell weui_cell_select weui_select_before">
                    <div class="weui_cell_hd">
                        <select class="weui_select" name="select2">
                            <option value="1">+86</option>
                            <option value="2">+80</option>
                            <option value="3">+84</option>
                            <option value="4">+87</option>
                        </select>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入号码"/>
                    </div>
                </div>
            </div>
            <div class="weui_cells_title">选择</div>
            <div class="weui_cells">
                <div class="weui_cell weui_cell_select">
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="select1">
                            <option selected="" value="1">微信号</option>
                            <option value="2">QQ号</option>
                            <option value="3">Email</option>
                        </select>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label  class="weui_label">国家/地区</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="select2">
                            <option value="1">中国</option>
                            <option value="2">美国</option>
                            <option value="3">英国</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui_cell weui_cell_warn">
                    <div class="weui_cell_hd"><label for="" class="weui_label">用户名</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="number" pattern="[0-9]*" value="weui input error" placeholder="请输入卡号"/>
                    </div>
                    <div class="weui_cell_ft">
                        <i class="weui_icon_warn"></i>
                    </div>
                </div>
            <div class="weui_cells_title">开关</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell weui_cell_switch">
                    <div class="weui_cell_hd weui_cell_primary">标题文字</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox"/>
                    </div>
                </div>
            </div-->


<!--div class="panel-body">
    <div class="form-horizontal os-form" role="form">

    </div>
</div-->







<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" style="display: none">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content" id="ToastTxt"></p>
    </div>
</div>


<script src="//cdn.bootcss.com/angular.js/1.4.9/angular.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.4.9/angular-animate.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-bootstrap/1.1.2/ui-bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="//cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
<script src="//cdn.bootcss.com/oclazyload/1.0.9/ocLazyLoad.min.js"></script>

</body>
</html>

