<div class="container-fluid container-compact os-tab-container" ng-controller="Home">
  <div class="container container-compact">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-list">
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".stats">系统概况</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".jump">项目列表</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".customers">用户列表</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".keyManage">密钥管理</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".session">实时会话</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".firmWare">固件管理</a>
          </li>
          <li class="list-group-item menu-list-branch ng-scope" ui-sref-active="active">
            <a ui-sref=".wechat">微信用户</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 ng-scope" id="contentContainer" ui-view>
      </div>
    </div>
  </div>
</div>
