<div class="container-fluid container-compact os-tab-container" ng-controller="Access">
    <div class="row row-in-tab os-row-no-padding">
        <div class="col-sm-12 input-group os-table-toolbar">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Filter..." style="width:20%" ng-model="accesslist.seach" />
            <span class="btn-small" style="cursor:pointer;float:right;padding-top:10px;padding-left:10px;" title="添加" ng-click="access.add()">
                <i  class="fa fa-plus"></i>
            </span>
            <span class="btn-small" style="cursor:pointer;float:right;padding-top:10px;padding-left:10px;" title="刷新" ng-click="access.refresh()">
                <i  class="fa fa-refresh"></i>
            </span>
        </div>

        <div class="panel os-panel" ng-show="access.addShown">
            <div class="panel-body">
                <form class="form-horizontal os-form" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="access.data_add.username" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">管理员权限</label>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="access.data_add.access_type"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">启用</label>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="access.data_add.enabled"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="access.data_add.desc" />
                        </div>
                    </div>

                    <div class="form-group os-submit-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-4">
                            <button class="btn btn-default" ng-click="access.data_add.submitForm()"><i class="fa fa-check"></i>&nbsp;确定</button>
                            <button class="btn btn-default" ng-click="access.data_add.close()"><i class="fa fa-remove"></i>&nbsp;取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-12 os-table-container">
            <table class="table os-table">
                <thead>
                <tr>
                    <th class="col-sm-3">id</th>
                    <th class="col-sm-1">启用</th>
                    <th class="col-sm-2">类型</th>
                    <th class="col-sm-3">描述</th>
                    <th class="col-sm-2">ctime</th>
                    <th class="col-sm-1">删除</th>
                </tr>
                </thead>
                <tbody ng-repeat="u in accesslist.data.list | filter: accesslist.seach">
                <tr>
                    <td ng-click="access.data.showDetail(u, $index)">{{u.key_id}}</td>
                    <td ng-click="access.data.showDetail(u, $index)">{{u.enabled===true?"启用":"停用"}}</td>
                    <td ng-click="access.data.showDetail(u, $index)">{{u.key_type===0?"普通权限密钥":"管理员权限密钥"}}</td>
                    <td ng-click="access.data.showDetail(u, $index)">{{u.desc}}</td>
                    <td ng-click="access.data.showDetail(u, $index)">{{u.ctime}}</td>
                    <td ng-click="access.delete_one(u)" style="cursor:pointer;"><i class="fa fa-trash"></i></td>
                </tr>
                <tr class="ng-hide" ng-show="access.data_mod.bDetailShown[$index]">
                    <td colspan="999">
                        <div class="panel os-panel">
                            <div class="panel-body">
                                <form class="form-horizontal os-form" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-4">
                                            <p class="form-control-static">{{access.data_mod.data[$index].username}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">id</label>
                                        <div class="col-sm-4">
                                            <p class="form-control-static">{{access.data_mod.data[$index].key_id}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">access类型</label>
                                        <div class="col-sm-4">
                                            <p class="form-control-static">{{access.data_mod.data[$index].key_type===0?"普通权限密钥":"管理员权限密钥"}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">启用</label>
                                        <div class="col-sm-4">
                                            <input type="checkbox" ng-model="access.data_mod.data[$index].enabled"  />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">描述</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" ng-model="access.data_mod.data[$index].desc"  />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">ctime</label>
                                        <div class="col-sm-4">
                                            <p class="form-control-static">{{access.data_mod.data[$index].ctime}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group os-submit-group">
                                        <label class="col-sm-1 control-label"></label>
                                        <div class="col-sm-4">
                                            <button class="btn btn-default" ng-click="access.data_mod.submitForm(u,$index)"><i class="fa fa-check"></i>&nbsp;确定</button>
                                            <button class="btn btn-default" ng-click="access.data_mod.close(u,$index)"><i class="fa fa-remove"></i>&nbsp;取消</button>
                                            <button class="btn btn-default" ng-click="access.delete_one(access.data_mod.data[$index])"><i class="fa fa-trash"></i>&nbsp;删除</button>
                                        </div>
                                    </div>
                                    <div class="form-group os-submit-group">
                                        <label class="col-sm-2 control-label">密钥</label>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default" ng-click="access.data_mod.accessGet(u,$index)"><i class="fa fa-key"></i>&nbsp;获取</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{u.secret}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>