<div class="container-fluid container-compact os-tab-container" ng-controller="Session">
<div class="row row-in-tab os-row-no-padding">
<form class="form-inline os-table-toolbar">
    <!--div class="form-group">
        <select class="form-control" ng-model="sessionlist.seachKey" ng-options="o.key as o.name for o in sessionlist.searchKeyOptionsData" ng-change="">
        </select>
        <input type="text" class="form-control" placeholder="Filter..." ng-model="sessionlist.seachValue">
    </div>
        <span class="btn-small" style="cursor:pointer;padding-top:10px;padding-left:10px;" title="搜索" ng-click="session.search()">
        <i  class="fa fa-search"></i>
        </span>
        <span class="btn-small" style="cursor:pointer;float:right;padding-top:10px;padding-left:10px;" title="添加" ng-click="session.add()">
            <i  class="fa fa-plus"></i>
        </span-->
        <span class="btn-small" style="cursor:pointer;float:right;padding-top:10px;padding-left:10px;" title="刷新" ng-click="session.refresh()">
            <i  class="fa fa-refresh"></i>
        </span>
</form>

<div class="col-sm-12 os-table-container">
    <table class="table os-table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-sm-2">用户名</th>
            <th class="col-sm-2">子用户</th>
            <th class="col-sm-2">摄像头名称</th>
            <th class="col-sm-1">协议</th>
            <th class="col-sm-1">画质</th>
            <th class="col-sm-2">起始</th>
            <th class="col-sm-2">结束</th>
        </tr>
        </thead>
        <tbody ng-repeat="u in sessionlist.data.list | filter: sessionlist.seach">

        <tr style="cursor:pointer;">
            <td ng-click="session.data.showDetail(u, $index)">{{u.username}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.subuser}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.camera_name}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.stream_format}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.stream_quality}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.start}}</td>
            <td ng-click="session.data.showDetail(u, $index)">{{u.last_keepalive}}</td>
        </tr>
        <tr class="ng-hide" ng-show="session.data_mod.bDetailShown[$index]">
            <td colspan="999">
                <div class="panel os-panel">
                    <div class="panel-body">
                        <form class="form-horizontal os-form" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].username}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">子用户</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].subuser}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].project_name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">uuid</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].uuid}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">摄像头id</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].camera_uuid}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">摄像头名称</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].camera_name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">起始</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].start}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">最近保活</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].last_keepalive}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">user_agent</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].user_agent}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ip</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].ip}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">协议</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].stream_format}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">画质</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].stream_quality}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">流id</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static">{{session.data_mod.data[$index].stream_id}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</div>