<div ng-controller="CameraList">
    <div style="padding-right: 0px;padding-left: 0px;">
<!--list-->
        <div class="col-sm-12 os-table-container" ng-show="cameraListShown" style="padding-left: 0px;padding-right: 0px;">
            <div class="weui_cell" style="padding-left: 0px;">
               <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回我的项目" ng-click="cameralist.backProject();">
                <i  class="fa fa-chevron-left "></i>
                   返回我的项目
                </span>
            </div>
            <!--<div class="weui_cells weui_cells_form">-->
                <!--<div class="weui_cell weui_cell_switch" style="padding-left: 0px;background-color:#eee;">-->
                    <!--<div class="weui_cell_hd weui_cell_primary">-->
                    <!--<span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回我的项目" ng-click="cameralist.backProject();">-->
                    <!--<i  class="fa fa-chevron-left "></i>-->
                       <!--返回我的项目-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p style="margin-bottom: 0px;margin-top: 10px;float:right;">缩略图</p>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_ft">-->
                        <!--<input class="weui_switch" ng-model="preShow" ng-change="cameralist.setPreCookie();" type="checkbox"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--div class="weui_cells_title">{{PName}} 摄像头列表</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell" ng-repeat="u in cameralist.data">
                    <div class="weui_cell_hd"><label class="weui_label" style="width: 12em">{{u.name}}</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="form-control-static">{{u.is_online|online}}</p>
                    </div>
                </div>
            </div-->
            <div style="padding-left: 0px;padding-right: 0px;">
                <div style="padding-left: 0px;padding-right: 0px;">
                    <div class="col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;padding-right: 0px;" ng-repeat="item in cameralist.data">

                        <div class="thumbnail">
                            <div class="caption">
                                <p class="text-name">
                                    <a ng-click="cameralist.showMore(item)">{{item.name}}</a>
                                    <span class="pull-right" ng-class ="{'text-highlight': item.is_online!==0, 'text-danger': item.is_online===0}" >{{item.is_online|online}}</span>
                                </p>
                                <p class="text-desc" style="color: #ABAAAA">{{item.desc}}</p>
                            </div>
                            <a ng-click="cameralist.showMore(item)" ng-show="preShow"><img src="{{item.preview}}" alt="{{item.name}}"></a>
                            <div class="topimg-container" ng-click="cameralist.showMore(item)" ng-show="preShow"></div>
                            <div class="weui_dialog_ft" style="line-height:1em;font-size:1em;height: 44px;text-align: center;margin-top: 0px;margin-bottom: 15px;">
                                <a ng-click="cameralist.showRec(item)" class="weui_btn_dialog" style="color: #25A8E1;">
                                    <div style="display: block-inline;height:40px;margin:2px;border-right:solid 1px #ABAAAA;">
                                        <img src="./img/replay24.png" alt="" />
                                        <!--<i class="fa fa-film" style="font-size: 22px;color: #000000" aria-hidden="true"></i>-->
                                        <p class="text-name" style="display: block">回放</p>
                                    </div>
                                </a>
                                <a ng-click="cameralist.showMore(item)" class="weui_btn_dialog" style="color: #25A8E1">
                                    <div style="display: block-inline;height:40px;margin:2px;">
                                        <img src="./img/live24.png" alt="" />
                                        <!--<i class="fa fa-play-circle-o" style="font-size: 24px;color: #000000" aria-hidden="true"></i>-->
                                        <p class="text-name" style="display: block">实时</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--end list-->

    </div>
</div>