<div ng-controller="PRecPlay">
  <div style="padding-left: 0px;padding-right: 0px;">
    <div class="col-sm-12 os-table-container" style="padding-left: 0px;padding-right: 0px;">
      <!-- <div class="weui_cell" style="padding-left: 0px;">
        <span class="btn-small" style="cursor:pointer;float:left;padding-top:10px;padding-left:10px;" title="返回录像列表" ng-click="precplay.backList();">
          <i class="fa fa-chevron-left "></i> 返回
        </span>
        <div class="weui_cell_ft">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <span class="btn-small pull-right" style="cursor:pointer;float:right;padding-top:10px;padding-left:10px;" title="分享" ng-click="precplay.share();">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </span>
        </div>
      </div> -->
      <label class="weui_cell weui_normal_label" for="x12">
        <div class="weui_cell_bd weui_cell_primary">
          <span class="btn-small" style="cursor:pointer;" title="返回" ng-click="precplay.backList();">
            <i class="fa fa-chevron-left "></i> 返回
          </span>
        </div>
        <div class="weui_cell_ft" ng-click="precplay.showShareTip = true">
          分享到朋友圈
          <i class="fa fa-share-alt" aria-hidden="true"></i>
        </div>
      </label>
      <!--<div class="weui_cells_title">片段信息</div>-->
      <div class="weui_cells weui_cells_form">
        <div style="padding-left: 0px;padding-right: 0px;">
          <div style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-3 col-sm-4 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
              <div class="thumbnail" id="recPlayerWrapper">
                <div class="live">
                  <div class="img-container">
                    <img id="recimg" src="img/video4x4.jpg" alt="">
                  </div>
                  <div class="player-container">
                    <!--<div id="replayPlayer"></div>-->
                    <video id="replayPlayer" class="video" ng-hide="precplay.showShareTip" controls autoplay="autoplay" webkit-playsinline="" width="100%" height="100%" src="movie.ogg" type="application/x-mpegURL">
                    </video>
                  </div>
                  <!--<div class="img-container"><a ng-click="cameralist.showPlayer(c)"><img id="img" ng-src="{{recInfo.preview_image}}" alt="" /></a></div>-->
                  <!--<div class="player-container" ng-show="c.tip">-->
                  <!--<div id="videoPlayer">-->
                  <!--<p class="play-tip pull-right" >-->
                  <!--<span class="text-highlight" id="playTipSec">10</span>-->
                  <!--秒之后开始播放-->
                  <!--</p>-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="weui_cell" ng-show="undefined !== recInfo.event_id">
          <div class="weui_cell_hd" style="margin-bottom: 0px;">
            <label for="" class="weui_label" style="width:5em">标题</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p class="form-control-static">{{recInfo.desc}}</p>
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd" style="margin-bottom: 0px;">
            <label for="" class="weui_label" style="width:5em">开始时间</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p class="form-control-static">{{recInfo.start|date: "yyyy-MM-dd HH:mm:ss"}}</p>
          </div>
        </div>
        <div class="weui_cell" ng-show="undefined === recInfo.event_id">
          <div class="weui_cell_hd" style="margin-bottom: 0px;">
            <label for="" class="weui_label" style="width:5em">结束时间</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p class="form-control-static">{{recInfo.end|date: "yyyy-MM-dd HH:mm:ss"}}</p>
          </div>
        </div>
        <div class="weui_cell" ng-show="undefined !== recInfo.event_id">
          <div class="weui_cell_hd" style="margin-bottom: 0px;">
            <label for="" class="weui_label" style="width:5em">时长</label>
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p class="form-control-static">{{recInfo.end - recInfo.start|duration}}</p>
          </div>
        </div>
        <div class="weui_btn_area" ng-show="undefined === recInfo.event_id">
          <button class="weui_btn weui_btn_primary" ng-click="precplay.goBackup()">备份</button>
        </div>
      </div>
    </div>
    <div class="weui_mask_transition weui_fade_toggle" ng-click="precplay.showShareTip = false" ng-class="{true: 'show', false: ''}[precplay.showShareTip]">
      <div class="share_tip"></div>
    </div>
  </div>
</div>
